@charset "UTF-8";
/* --------- General HTML Elements --------- */
body {
    font: 106.3% "Palatino Linotype", Palatino, Georgia, serif;  
}

/* --- Headings --- */
h1, h2, h3, h4 {
    font-family: Candara, Corbel, "Trebuchet MS", Verdana, sans-serif;
    line-height: 1.2;
    margin: 1.3em 0 0.6em;    
    word-spacing:0.1em;
}
h1 {
    margin-top: 0.5em;
    font-size: 2.1em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}
.ui-content > h1, 
.ui-content > h2, 
.ui-content > h3, 
.ui-content > h4{
    margin-top:0;
}

/* --- Assorted elements --- */
a {    
    text-decoration: none;
    -moz-transition: 0.2s color linear;
    -webkit-transition: 0.2s color linear; 
    -o-transition: 0.2s color linear;    
    transition: 0.2s color linear;
}
p {
    margin: 0 0 1.2em;
}
hr {
  border:none;
  border-top: dotted 1px #C90;  
  margin:0 0 1em 0;
  height:1px;
}
/* set image max width to 100% */
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* --- lists --- */
ul, ol {
    margin: 1em 0 1.5em 0;    
    padding-left: 25px;
}
li {
    margin: 0 0 0.5em 0;
}
ul { list-style-type: disc; }
ol { list-style-type: decimal; }

/* --- Table --- */
table{
    margin-bottom: 1.5em; 
}
th, td{
    padding:0.5em;
    vertical-align: middle;
}
th{
    font-family: "Palatino Linotype", Palatino, Georgia, serif;
    text-align: left;
}
tr{
    vertical-align: top;
}
td{ 
    border-bottom:dotted #C90 1px;
}
th.top, td.top{ 
    border-top:dotted #C90 1px;
}
/* --- Table END --- */
/* --------- General HTML Elements END --------- */
